services:
  app:
    build: .
    container_name: crud-backend
    restart: always
    ports:
      - "4000:4000"
    env_file: .env
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: crud-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
